@font-face {
		font-family: 'icofont';
		src: url('../fonts/icofont.eot?v=1.0.0-beta');
		src: url('../fonts/icofont.eot?v=1.0.0-beta#iefix') format('embedded-opentype'),
		url('../fonts/icofont.ttf?v=1.0.0-beta') format('truetype'),
		url('../fonts/icofont.woff?v=1.0.0-beta') format('woff'),
		url('../fonts/icofont.svg?v=1.0.0-beta#icofont') format('svg');
		font-weight: normal;
		font-style: normal;
}

.icofont {
		font-family: 'IcoFont' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

/*Animation*/
.icofont-rotate {
		display: inline-block;
		-webkit-animation: icofont-rotate 2s infinite linear;
		animation: icofont-rotate 2s infinite linear
}

@-webkit-keyframes icofont-rotate {
		0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg)
		}
		100% {
				-webkit-transform: rotate(359deg);
				transform: rotate(359deg)
		}
}

@keyframes icofont-rotate {
		0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg)
		}
		100% {
				-webkit-transform: rotate(359deg);
				transform: rotate(359deg)
		}
}

.icofont-brand-linkedin:before {
	content: "\ea04";
}
.icofont-headphone-alt:before {
	content: "\eafd";
}
.icofont-caret-down:before {
	content: "\eb25";
}
.icofont-caret-left:before {
	content: "\eb26";
}
.icofont-caret-right:before {
	content: "\eb27";
}
.icofont-caret-up:before {
	content: "\eb28";
}
.icofont-curved-right:before {
	content: "\eb33";
}
.icofont-double-right:before {
	content: "\eb3a";
}
.icofont-rounded-double-right:before {
	content: "\eb59";
}
.icofont-rounded-down:before {
	content: "\eb5a";
}
.icofont-rounded-left:before {
	content: "\eb5e";
}
.icofont-rounded-right:before {
	content: "\eb61";
}
.icofont-rounded-up:before {
	content: "\eb62";
}
.icofont-simple-down:before {
	content: "\eb73";
}
.icofont-simple-left:before {
	content: "\eb76";
}
.icofont-simple-right:before {
	content: "\eb79";
}
.icofont-simple-up:before {
	content: "\eb7a";
}
.icofont-heart-alt:before {
	content: "\ecfd";
}
.icofont-ui-call:before {
	content: "\ed22";
}
.icofont-ui-check:before {
	content: "\ed27";
}
.icofont-ui-love:before {
	content: "\ed43";
}
.icofont-ui-message:before {
	content: "\ed45";
}
.icofont-ui-messaging:before {
	content: "\ed46";
}
.icofont-ui-rate-blank:before {
	content: "\ed58";
}
.icofont-ui-rating:before {
	content: "\ed5a";
}
.icofont-ui-search:before {
	content: "\ed60";
}
.icofont-ui-settings:before {
	content: "\ed61";
}
.icofont-youtube-play:before {
	content: "\ed97";
}
.icofont-user-alt-3:before {
	content: "\edd4";
}
.icofont-user-alt-7:before {
	content: "\edd8";
}
.icofont-user-male:before {
	content: "\edda";
}
.icofont-search-alt-2:before {
	content: "\edee";
}
.icofont-search:before {
	content: "\edef";
}
.icofont-social-dribble:before {
	content: "\ee00";
}
.icofont-social-facebook:before {
	content: "\ee08";
}
.icofont-social-google-map:before {
	content: "\ee10";
}
.icofont-social-google-plus:before {
	content: "\ee11";
}
.icofont-social-instagram:before {
	content: "\ee14";
}
.icofont-social-pinterest:before {
	content: "\ee23";
}
.icofont-social-reddit:before {
	content: "\ee27";
}
.icofont-social-rss:before {
	content: "\ee28";
}
.icofont-social-skype:before {
	content: "\ee2b";
}
.icofont-social-tumblr:before {
	content: "\ee33";
}
.icofont-social-twitter:before {
	content: "\ee34";
}
.icofont-social-vimeo:before {
	content: "\ee39";
}
.icofont-justify-all:before {
	content: "\eeb1";
}
.icofont-listine-dots:before {
	content: "\eeb7";
}
.icofont-listing-box:before {
	content: "\eeb8";
}
.icofont-car-alt-4:before {
	content: "\eee0";
}
.icofont-check-alt:before {
	content: "\efab";
}
.icofont-check:before {
	content: "\efad";
}
.icofont-checked:before {
	content: "\efae";
}
.icofont-clock-time:before {
	content: "\efb0";
}
.icofont-dashboard:before {
	content: "\efd0";
}
.icofont-envelope:before {
	content: "\efe6";
}
.icofont-folder:before {
	content: "\f007";
}
.icofont-gears:before {
	content: "\f00f";
}
.icofont-globe:before {
	content: "\f012";
}
.icofont-home:before {
	content: "\f01f";
}
.icofont-label:before {
	content: "\f036";
}
.icofont-location-arrow:before {
	content: "\f050";
}
.icofont-location-pin:before {
	content: "\f051";
}
.icofont-reply:before {
	content: "\f0b9";
}
.icofont-rss-feed:before {
	content: "\f0c1";
}
.icofont-share:before {
	content: "\f0ca";
}
.icofont-speech-comments:before {
	content: "\f0d8";
}
.icofont-speed-meter:before {
	content: "\f0d9";
}
.icofont-star:before {
	content: "\f0e6";
}
.icofont-tag:before {
	content: "\f0eb";
}
.icofont-tags:before {
	content: "\f0ec";
}
.icofont-tick-mark:before {
	content: "\f0f4";
}
.icofont-verification-check:before {
	content: "\f104";
}
.icofont-social-dribbble:before {
	content: "\f11b";
}
.icofont-social-linkedin:before {
	content: "\f123";
}
.icofont-social-youtube-play:before {
	content: "\f137";
}
.icofont-share2:before {
	content: "\f0cb";
}
.icofont-speed-meter2:before {
	content: "\f0da";
}
