.site-content {
	.widget-area {
		width: (370/1170) * 100%;
		float: right;
		margin-bottom: 50px;
	}

	.content-area {
		float: left;
		width: (770/1170) * 100%;
		word-wrap: break-word;
	}

	@media (max-width: 991px){
		.content-area,
		.widget-area{
			width: 100%;
		}
		.content-area {
			margin-bottom: 60px;
		}
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

@media (max-width: 1279px) {
	.container {
		padding: 0 25px;
	}
	.site-content {
		.container {
			padding: 0;
		}
	}
}
.auto-listings.auto-listings .has-sidebar,
.home .has-sidebar {
	width: (770/1170) * 100%;
}
.auto-listings.auto-listings .sidebar,
.home .sidebar {
	width: (370/1170) * 100%;
}
