button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		outline: none;
	}
}
.link-more {
	margin-top: 45px;
}
.more-link {
	text-decoration: none;
	text-transform: uppercase;
	color: $color__white;
	padding: 12px 27px;
	background-color: $color__main;
	border-radius: 5px;
	font-weight: 700;
	border: 2px solid $color__main;
	@include font-size(1.3);
	&:hover {
		color: $color__main;
		background-color: $color__white;
		border: 2px solid $color__main;
	}
}
