.section--cta {
	background-color: #999999;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;

	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		padding: 25px 0px 105px;
	}
	.section-cta__left {
		margin-top: 65px;
		.cta-title {
			@include font-size(3.6);
			color: $color__white;
			font-weight: 800;
			margin-bottom: 5px;
			margin-top: 0;
		}
		.cta-description {
			@include font-size(1.6);
			font-weight: 400;
			color: $color__white;
			margin: 0;
		}
	}
	.section-cta__right {
		margin-top: 65px;
		a {
			color: $color__main;
			@include font-size(1.3);
			font-weight: 700;
			padding: 15px 20px;
			background-color: $color__white;
			border-radius: 5px;
			text-decoration: none;
			text-transform: uppercase;
			border: 2px solid $color__white;
			&:hover {
				background-color: transparent;
				border: 2px solid $color__white;
				color: $color__white;
			}
		}
	}
}

@media (max-width: 1279px) {
	.section--cta {
		.container {
			padding: 0 25px 105px;
		}
	}
}
@media (max-width: 991px ) {
	.section-cta__left {
		width: 100%;
	}
}
@media (max-width: 574px) {
	.section--cta {
		.container {
			padding-bottom: 85px;
		}
	}
	.section-cta__left.section-cta__left {
		margin-top: 40px;
		.cta-title{
			@include font-size(2.9);
			margin-bottom: 15px;
			line-height: 1.3;
		}
	}
	.section-cta__right.section-cta__right {
		margin-top: 40px;
	}
}