.site-header {
	position: relative;
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	>.container {
		padding: 25px 0px;
		align-items: center;
	}
	@media (max-width: 1279px) {
		>.container {
			padding: 25px 25px;
		}
	}
	.site-branding {
		.site-title {
			@include font-size(2.2);
			text-transform: uppercase;
			margin-bottom: 0;
			a,
			a:hover,
			a:visited {
				color: $color__main;
			}
		}
		.site-description {
			@include font-size(1.3);
			color: $color__black;
		}
	}
}
.header-top {
	border-bottom: 1px solid $color__border-abbr;
	overflow: hidden;
}
.topbar-left {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border-left: 1px solid $color__border-abbr;
	border-right: 1px solid $color__border-abbr;
	.widget_text {
		p {
			margin: 0;
		}
	}
	.time-work {
		@include font-size(1.4);
		font-weight: 400;
		margin: 0;
		padding: 22px 18px 22px 18px;
		border-right: 1px solid $color__border-abbr;
		&:before {
			content: '\efb0';
			@include ico-font();
			color: $color__main;
			margin-right: 7px;
			@include font-size(2);
		}
	}
	.mail-to {
		@include font-size(1.4);
		font-weight: 400;
		padding: 22px 18px 22px 18px;
		color: $color__text-main;
		text-decoration: none;
		&:before {
			content: '\efe6';
			@include ico-font();
			color: $color__main;
			margin-right: 7px;
			@include font-size(2);
		}
		&:hover {
			color: $color__main;
		}
	}
}
.topbar-right {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border-left: 1px solid $color__border-abbr;
	border-right: 1px solid $color__border-abbr;
	.jetpack_widget_social_icons.jetpack_widget_social_icons {
		border-right: 1px solid $color__border-abbr;
		.jetpack-social-widget-list {
			margin-top: 20px;
		}
		svg {
			display: none;
		}
		li {
			margin-right: 15px;
			&:first-child {
				margin-left: 15px;
			}
			&:last-child {
				margin-right: 19px;
			}
		}
		a {
			width: auto;
			height: auto;
			&:hover:before {
				color: $color__main;
				transition: all .3s ease;
			}
		}
	}
	.social-media {
		border-right: 1px solid $color__border-abbr;
		.jetpack-social-navigation {
			padding: 20px 20px;
			.menu {
				margin: 0;
				li {
					margin-right: 20px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		a {
			color: $color__text-main;
			&:hover {
				color: $color__main;
			}
		}
	}
	.custom-html-widget {
		padding: 18px 0 18px 37px;
		position: relative;
		.icofont-globe {
			@include font-size(2);
			color: $color__main;
			position: absolute;
			left: 20px;
		}
		.icofont-caret-down {
			color: $color__main;
			position: relative;
			right: 18px;
			z-index: -1;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			&::-ms-expand {
				display: none;
			}
			border: none;
			background: transparent;
			color: $color__text-main;
			cursor: pointer;
			padding: 0 20px 0 10px;
			font-weight: 600;
			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.header-top {
		display: none;
	}
}
@media (max-width: 574px) {
	.site-header {
		>.container {
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		.main-navigation {
			width: 50%;
		}
		.menu-toggle {
			width: 100%;
		}
	}
}