.error404 {
	.site-content.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.content-area {
			margin: 0 auto 85px;
			text-align: center;
			.search-form {
				width: 60%;
				margin-left: 20%;
			}
		}
	}
}