.widget-area {
	border: 10px solid #f8f8f8;
	.widget {
		padding: 30px;
		border-bottom: 1px solid #e4e4e4;
		&:last-child {
			border-bottom: none;
		}
		select {
			max-width: 100%;
		}
		.widget-title {
			@include font-size(2);
			font-weight: 700;
			color: $color__black;
			margin-top: 0;
			margin-bottom: 0;
			position: relative;
			margin-bottom: 20px;
			&:before {
				content: '';
				border-left: 10px solid $color__main;
				width: 10px;
				height: 30px;
				left: -40px;
				position: absolute;
			}
		}
	}
	.widget_categories,
	.widget_archive,
	.widget_pages,
	.widget_meta,
	.widget_recent_comments,
	.widget_nav_menu,
	.widget_rss,
	.widget_recent_entries {
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			padding-bottom: 15px;
			padding-top: 15px;
			border-bottom: 1px solid #e4e4e4;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			&:first-child {
				padding-top: 0;
			}
			&:before {
				content: '\eb59';
				@include ico-font();
				@include font-size(1.4);
				color: #777777;
				margin-right: 13px;
			}
			a {
				@include font-size(1.3);
				color: $color__black;
				text-decoration: none;
				font-weight: 600;
				&:hover {
					color: $color__main;
				}
			}
			span {
				@include font-size(1.2);
				color: #777777;
				margin-left: 2px;
			}
		}
	}
	.widget_text {
		ul {
			list-style: none;
			margin-bottom: 0;
			li {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
		i {
			@include font-size(1.6);
			color: $color__black;
			margin-right: 10px;
		}
		a {
			@include font-size(1.3);
			color: $color__black;
			text-decoration: none;
			font-weight: 600;
			line-height: 1.8;
			&:hover {
				color: $color__main;
			}
		}
	}
	.jr-insta-slider {
		.jr-insta-thumb {
			a {
				display: inline-block;
				position: relative;
				&:before {
					content: '\ecfd';
					@include ico-font();
					display: inline-block;
					@include font-size(2.4);
					color: #fff;
					z-index: 99;
					opacity: 0;
					-ms-transform: translate(-50%, -50%);
					-o-transition: all .3s ease;
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all .3s ease;
					background: rgba(0, 0, 0, 0.3);
					background-color: $color__main;
				}
				&:hover:before,
				&:hover:after {
					opacity: 0.8;
				}
			}
		}
	}
	.tagcloud.tagcloud {
		margin: -5px;
		display: flex;
		flex-flow: row wrap;
		a {
			display: block;
			line-height: 1;
			font-size: 13px !important;
			border-radius: 3px;
			font-weight: 600;
			padding: 9px 14px;
			margin: 3px;
			color: #777777;
			text-decoration: none;
			border: 1px solid #e4e4e4;
			&:hover {
				background-color: $color__main;
				color: $color__white;
				border: 1px solid $color__main;
			}
		}
	}
	.jetpack_widget_social_icons {
		.jetpack-social-widget-list {
			margin-bottom: 0;
		}
		svg {
			display: none;
		}
		a {
			margin-right: 11px;
			margin-bottom: 14px;
			&:hover:before {
				color: $color__white;
				background-color: $color__main;
				border-color: $color__main;
				transition: all .3s ease;
			}
		}
	}
}

@media (max-width: 574px) {
	.widget-area {
		.widget {
			padding: 15px;
			.widget-title {
				&:before {
					left: -25px;
				}
			}
		}
	}
}