.home {
	.has-sidebar {
		float: left;
		.auto-listings-items.auto-listings-items.auto-listings-items {
			.bottom-wrap {
				a {
					color: $color__white;
					text-decoration: none;
					border: 2px solid $color__main;
					&:hover {
						border: 2px solid $color__main;
						border-color: $color__main;
					}
				}
			}
		}
		.auto-listings-items {
			.image {
				.status {
					@include font-size(1.2);
					font-weight: 300;
					line-height: 12px;
					padding: 5px 10px;
				}
				.status:before {
					content: '\f0d9';
					@include ico-font();
				}
			}
		}
		.auto-listings-items.auto-listings-items.auto-listings-items.grid-view {
			.bottom-wrap {
				bottom: -28px;
			}
		}
	}
	.sidebar {
		float: right;
		margin-top: 79px;
		margin-bottom: 50px;
		.SumoSelect.SumoSelect {
			.SelectBox {
				border-radius: 4px;
			}
		}
		.area-wrap {
			.al-button {
				color: $color__white;
				text-transform: uppercase;
				border: 2px solid $color__main;
			}
		}
	}
}