.section--search {
	border: 10px solid #f8f8f8;
	background-color: $color__white;
	position: relative;
	top: -82px;
	text-align: center;
	padding: 0px 60px 50px 60px;
	.search-title {
		margin-top: 0;
		display: inline-block;
		text-transform: uppercase;
		@include font-size(1.8);
		font-weight: 700;
		padding: 10px 30px;
		background-color: $color__main;
		position: relative;
		top: -10px;
		color: $color__white;
	}
	.search-content {
		.prefix {
			display: none;
		}
		.refine {
			display: none;
		}
		.extras-wrap.extras-wrap.extras-wrap {
			display: flex;
			flex-flow: row wrap;
			width: 100%;
			justify-content: space-between;
			.field {
				width: 100%;
				max-width: 227px;
			}
		}
		.auto-listings-search {
			display: flex;
			flex-flow: row wrap;
			.row {
				width: auto;
			}
			label {
				i {
					&:before {
						content: '\eb25' !important;
						@include ico-font();
						color: #000 !important;
					}
				}
			}
			.area-wrap {
				order: 1;
			}
			.condition-wrap,
			.make,
			.min-price,
			.max-price {
				width: 100%;
				max-width: 227px;
				margin-right: 40px;
			}
			.max-price {
				margin-right: 0;
			}
			.condition-wrap {
				.SumoSelect {
					margin: 0;
				}
			}
			.price-wrap {
				display: flex;
				flex-flow: row wrap;
				width: 48%;
				.SumoSelect {
					margin: 0;

				}
			}
			.SumoSelect {
				width: 100%;
			}
			.SelectBox {
				border-radius: 5px;
			}
			.area-wrap {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				.within,
				.al-button {
					width: 100%;
					max-width: 227px;
				}
				.area {
					width: 100%;
					max-width: 494px;
				}

			}
		}
	}
}