.section--search {
	border: 10px solid #f8f8f8;
	background-color: $color__white;
	position: relative;
	text-align: center;
	padding: 0px 60px 50px 60px;
	margin-bottom: 65px;
	.search-title {
		margin-top: 0;
		display: inline-block;
		text-transform: uppercase;
		@include font-size(1.8);
		font-weight: 700;
		padding: 10px 30px;
		background-color: $color__main;
		position: relative;
		top: -10px;
		color: $color__white;
	}
	.search-content {
		.prefix {
			display: none;
		}
		.refine {
			display: none;
		}
		.extras-wrap.extras-wrap.extras-wrap {
			display: flex;
			flex-flow: row wrap;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 30px;
			.field {
				width: 100%;
				max-width: 227px;
			}
		}
		.auto-listings-search {
			display: flex;
			flex-flow: row wrap;
			margin-top: 44px;
			margin-bottom: 0;
			.row {
				width: auto;
			}
			label {
				i {
					&:before {
						content: '\eb25' !important;
						@include ico-font();
						color: #000 !important;
					}
				}
			}
			.area-wrap {
				order: 1;
			}
			.condition-wrap,
			.min-price,
			.max-price,
			.search-form__title,
			.odometer {
				width: 100%;
				max-width: 226px;
				margin-right: 42px;
			}
			.search-form__title {
				@include font-size(1.4);
				font-weight: 700;
				color: $color__text-main;
				text-transform: uppercase;
			}

			.max-price {
				margin-right: 0;
			}
			.condition-wrap {
				.SumoSelect {
					margin: 0;
				}
			}
			.price-wrap {
				display: flex;
				flex-flow: row wrap;
				width: 48%;
				.SumoSelect {
					margin: 0;

				}
			}
			.SumoSelect {
				width: 100%;
			}
			.SelectBox {
				border-radius: 5px;
				padding: 9px 20px;
				text-align: left;
				height: 45px;
				max-height: 45px;
				span {
					color: #000;
					font-weight: 400;
					text-transform: capitalize;
				}
			}
			.area-wrap {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;

				.al-button {
					width: 100%;
					max-width: 226px;
					background-color: $color__main;
					border: 2px solid $color__main;
					border-radius: 4px;
					@include font-size(1.3);
					font-weight: 700;
					transition: all .3s ease;
					padding: 11px 26px;
					&:hover {
						background-color: $color__white;
						color: $color__main;
					}
				}
				.within {
					width: 100%;
					max-width: 125px;
					margin-right: 12px;
				}
				.area {
					width: 100%;
					max-width: 358px;
					margin-right: 42px;
					margin-top: 0;
					border-radius: 4px;
					border-color: $color__border-abbr;
					height: 45px;
					&:focus {
						border: 1px solid $color__border-abbr;
					}
				}

			}
		}
	}
}
@media (max-width: 1170px) {
	.section--search.section--search.section--search {
		position: unset;
		.search-form__title,
		.condition-wrap,
		.min-price,
		.max-price,
		.the-year,
		.make,
		.model,
		.body-type,
		.odometer,
		.within,
		.area,
		.al-button
		 {
			width: 48% !important;
			max-width: 100% !important;
			margin-right: 0 !important;
		}
		.price-wrap.price-wrap {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin-bottom: 15px;
			.min-price,
			.max-price {
				margin-bottom: 0;
			}
		}
		.area-wrap {
			justify-content: space-between;
			margin: 0;
		}
		.extras-wrap.extras-wrap {
			margin: 0;
		}
		.area-wrap > div,
		.extras-wrap > div {
			margin-bottom: 15px;
		}
		.search-form__title {
			margin-right: 4% !important;
		}
	}
}
@media (max-width: 767px) {
	.section--search.section--search.section--search {
		padding: 0 25px;
		.search-form__title,
		.condition-wrap,
		.min-price,
		.max-price,
		.the-year,
		.make,
		.model,
		.body-type,
		.odometer,
		.within,
		.area,
		.al-button {
			width: 100% !important;
		}
		.search-form__title {
			display: none;
		}
		.max-price,
		.area {
			margin-bottom: 15px;
		}
		.price-wrap.price-wrap {
			.min-price {
				margin-bottom: 15px;
			}
		}
	}
}