.featured-posts {
	margin-bottom: -82px;
	.slick-track {
		img {
			max-height: 96vh;
			width: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
	.featured-content.featured-content {
		position: absolute;
		left: 0;
		top: 110px;
		width: 100%;
		height: 100%;
		display: flex;
		text-align: center;
		color: $color__white;
		.entry-title {
			color: $color__white;
			@include font-size(4.8);
			font-weight: 300;
			font-family: $font__main;
			margin-bottom: 20px;
		}
		ul {
			margin-top: -6px;
		}
		li {
			list-style: none;
			display: inline-block;
			@include font-size(1.4);
			margin-right: 34px;
			margin-bottom: 15px;
			&:before {
				content: '\efae';
				@include ico-font();
				color: $color__main;
				@include font-size(2);
				margin-right: 10px;
			}
		}
	}
}
@media (max-width: 991px) {
	.featured-posts {
		img {
			min-height: 300px;
		}
		.featured-content.featured-content {
			top: 0;
			height: 100%;
			.entry-title {
				@include font-size(2.8);
				margin-top: 50px;
			}
		}
	}
}
@media (max-width: 574px) {
	.featured-posts {
		.featured-content.featured-content {
			.entry-title {
				@include font-size(2);
			}
		}
	}
}