table {
	margin: 0 0 1.5em;
	width: 100%;
	@include font-size(1.4);
	border-collapse: collapse;
	border-spacing: 0;
}

thead tr {
	background: $color__sidebar;
}

th {
	font-weight: 400;
	color: $color__black;
}

td {
	color: $color__tag-text;
}

th, td {
	text-align: center;
	padding: 26px 5px;
	border: 1px solid $color__border-info-box;
}