table {
	margin: 0 0 1.5em;
	width: 100%;
	@include font-size(1.4);
}

thead tr {
	background: #f3f5f8;
}

th {
	font-weight: 400;
	color: $color__black;
}

td {
	color: #777780;
}

th, td {
	text-align: center;
	padding: 26px 5px;
	border: 1px solid #e2e2e2;
}