.auto-listings.auto-listings .container > .content {
	padding-top: 0;
}
.auto-listings-single {
	.has-sidebar {
		.highlight-new {
			right: inherit;
			left: 10px;
			text-transform: uppercase;
			padding: 9px 10px;
			font-weight: 600;
		}
		.image-gallery {
			.lSAction {
				i {
					padding: 36px 18px;
					background-color: rgba(52,54,67,0.85);
					font-weight: 600;
					font-size: 24px !important;
				}
				.lSPrev {
					left: 0;
					margin-top: -43px;
				}
				.lSNext {
					right: 0;
					width: inherit;
					margin-top: -43px;
				}
			}
			.lSGallery.lSGallery.lSGallery {
				li {
					border: 0;
					&:hover,
					&:active,
					&:focus {
						border: 0;
					}
				}
				a {
					position: relative;
					max-width: 100%;
					float: left;
				}
				li:hover,
				li.active {
					a:before {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						box-shadow: 0 -8px 0px -5px $color__main inset;
						-moz-box-shadow: 0 -8px 0px -5px $color__main inset;
						-webkit-box-shadow: 0 -8px 0px -5px $color__main inset;
					}
				}
			}
			img {
				width: 100%;
			}
		}
		.upper {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.status {
				display: none;
			}
			.entry-title {
				@include font-size(2.6);
				color: $color__text-main;
				font-weight: 700;
				line-height: 1.4;
			}
			h4 {
				margin-top: 0;
			}
			.price-amount {
				@include font-size(2.6);
				color: $color__main;
				font-weight: 700;
				line-height: 1.4;
				font-family: $font__main;
				.currency-symbol {
					margin-right: 5px;
				}
			}
		}
		.content {
			.tagline {
				position: relative;
				@include font-size(1.8);
				line-height: 2;
				color: $color__main;
				font-weight: 700;
				&:before {
					content: '';
					width: 100px;
					border-top: 1px solid $color__tag-background;
					position: absolute;
					top: -23px;
				}
			}
			.description {
				@include font-size(1.4);
				color: #777777;
				line-height: 1.7;
			}
			.auto-listings-tabs {
				ul {
					padding-left: 0;
					margin-bottom: 0;
				}
				& > div {
					border: 1px solid $color__tag-background;
					border-top: 0;
				}
				.active {
					box-shadow: 0 3px 0 $color__main inset;
					border-top: 0;
				}
				li {
					a {
						@include font-size(1.3);
						color: #2c2e3b;
						font-weight: 700;
						padding: 13px;
					}
				}
				.auto-listings-Tabs-panel {
					padding-left: 27px;
					padding-right: 27px;
					h4 {
						@include font-size(1.8);
						line-height: 2;
						font-weight: 700;
						color: $color__main;
					}
					table {
						border-collapse: collapse;
						border-top: 1px solid $color__tag-background;
						border-bottom: 1px solid $color__tag-background;
						padding-left: 27px;
						padding-right: 27px;
						margin-bottom: 40px;
						tr {
							border-bottom: 1px solid #e4e4e4;
							&:nth-child(odd) {
								background-color: #f8f8f8;
							}
						}
						th {
							padding-left: 27px;
							width: 300px;
						}
						td {
							padding-right: 27px;
						}
						th,
						td {
							padding-top: 19px;
							padding-bottom: 19px;
							@include font-size(1.3);
							font-weight: 600;
							color: $color__black;
							border: none;
							text-align: left;
						}
						a {
							text-decoration: none;
							color: $color__black;
							&:hover {
								color: $color__main;
							}
						}
						.currency-symbol {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
	.sidebar {
		border: 10px solid #f8f8f8;
		> div {
			padding: 30px;
			border-bottom: 1px solid #e4e4e4;
			&:last-child {
				border-bottom: 0;
			}
		}

		h3 {
			@include font-size(1.6);
			font-weight: 700;
			color: $color__black;
			margin-top: 0;
			position: relative;
			font-family: $font__main;
			color: $color__black;
			&:before {
				content: '';
				border-left: 10px solid $color__main;
				width: 10px;
				height: 30px;
				left: -40px;
				position: absolute;
			}
		}
		.price {
			display: none;
		}
		.at-a-glance {
			ul {
				display: flex;
				flex-flow: row wrap;
				background-color: #f8f8f8;
				border: 1px solid #e4e4e4;
			}
			li {
				font-size: 12px;
				padding: 15px 13px;
				width: 143px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #555555;
				font-weight: 700;
				i {
					@include font-size(1.6);
					margin-right: 5px;
				}
				a {
					text-decoration: none;
					color: #555555;
					&:hover {
						color: $color__main;
					}
				}
				&:nth-child(3n) {
					border-top: 1px solid #e4e4e4;
				}
				&:nth-child(2n) {
					border-left: 1px solid #e4e4e4;
				}

				&:nth-child(4n) {
					border-top: 1px solid #e4e4e4;
					border-left: 1px solid #e4e4e4;
				}
				&:nth-child(3n):last-child {
					width: 100%;
				}
			}
		}
		.address {
			padding-bottom: 0;
			border-bottom: 0;
			margin-bottom: 0;
			i {
				@include font-size(1.6);
				color: #555555;
				margin-right: 10px;
			}
			p {
				margin: 0;
				display: inline-block;
				@include font-size(1.3);
				color: #555555;
			}
		}
		.map {
			height: auto;
		}
		.contact-form {
			background: none;
			input[type='text'],
			input[type='email'],
			textarea {
				@include font-size(1.3);
				font-style: italic;
				color: #aaaaaa;
				padding: 15px 15px;
				margin-bottom: 10px;
			}
			textarea {
				min-height: 115px;
			}
			input[type='submit'] {
				background-color: $color__main;
				border: none;
				border-radius: 5px;
				@include font-size(1.3);
				color: $color__white;
				font-weight: 700;
				padding: 11px 0px;
				transition: all .3s ease;
				border: 2px solid $color__main;
				&:hover {
					background-color: $color__white;
					color: $color__main;
					border: 2px solid $color__main;
					transition: all .3s ease;
				}
			}
		}
	}
}
.auto-listings-single.auto-listings-single .has-sidebar {
	width: 66%;
}
.auto-listings-single.auto-listings-single .sidebar {
	width: 31.5%;
	> div {
		margin-bottom: 0;
	}
}
