.page-header {
	min-height: 260px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	padding: 20px 220px 60px;
	position: relative;
	overflow: hidden;
	word-break: break-word;
	margin-bottom: 80px;
	background-size: cover;
	.page-title {
		@include font-size(4.8);
		color: $color__white;
		font-weight: 800;
		margin-top: 10px;
		line-height: 1.3;
	}
}
.breadcrumbs {
	padding: 15px 90px;
	margin: 0;
	display: inline-block;
	@include font-size(1.3);
	position: absolute;
	bottom: 0;
	background: $color__white;
	li {
		color: $color__twitter-name;
		&:last-child {
			color: $color__main;
			font-weight: 600;
		}
	}
	i {
		margin: 0 8px;
		color: $color__text-main;
		@include font-size(1.4);
	}
	a {
		text-decoration: none;
		color: $color__twitter-name;
		font-weight: 600;
	}
	li
	.home {
		&:before {
			content: '\f01f';
			@include ico-font();
			@include font-size(1.4);
			margin-right: 7px;
		}
	}
}

.breadcrumbs-item {
	display: inline-block;
}

.breadcrumb * {
	color: $color__white;
}
@media (max-width: 991px) {
	.page-header.page-header {
		padding: 50px 50px 60px;
	}
	.page-header {
		.page-title {
			@include font-size(3.4);
		}
		.breadcrumbs {
			position: unset;
			background: none;
			padding: 15px 0;
		}
		.breadcrumbs * {
			color: $color__white;
		}
	}
}
@media (max-width: 574px) {
	.page-header {
		.page-title {
			@include font-size(2.3);
		}
	}
}
